.philosophy {
  margin-top: calc(24vw + 48px);
  color: $text-grey;
  // text-transform: uppercase;

  &__text {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    position: relative;
  }
  &__quote {
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  &__decor {
    // background-image: url("../img/9c8f7e7748.jfif");
    background-color: var(--sec-accent);
    border-radius: 10000px;
  }
  &__underlined {
    position: relative;
  }
  &__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
    // background-color: yellow;
  }
}

.skills,
.tech {
  width: 90%;
  margin: 0 auto;
  &__help {
    margin-top: calc(24vw + 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--text {
      max-width: 50%;

      &--header {
        font-size: calc(0.4vw + 6px);
        font-weight: 500;
        letter-spacing: 0.1px;
        color: $text-background-grey;
        text-transform: uppercase;
        text-align: left;
      }
      &--content {
        font-size: calc(1vw + 6px);
        font-weight: 500;
        margin-top: calc(8px);
        letter-spacing: 0.3px;
        color: $text-grey;
        text-transform: uppercase;
        text-align: left;
      }
    }
  }
}

.archive {
  margin-top: calc(12vw + 48px);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4vw;
    &--heading {
      flex: 50%;
      color: $text-grey;
      text-transform: capitalize;
      font-size: calc(4.8vw + 12px);
      font-family: "Giselle", sans-serif;
      font-weight: 100;
      letter-spacing: 1px;
      text-align: right;
    }
    &--design {
      position: relative;
      height: 100%;
      min-height: 8vw;
      flex: 60%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: var(--sec-accent);
      border-radius: 10000px;
      overflow: hidden;
      order: -1;
    }
  }

  &__content {
    margin-top: calc(12vw + 48px);
    font-size: calc(0.6vw + 12px);
    font-weight: 400;
    letter-spacing: 0.5px;
    &--para {
      color: $text-background-grey;
      text-align: left;
      &:not(:last-child) {
        margin-bottom: calc(0.4vw + 12px);
      }
    }
  }

  .artworks {
    object {
      width: 80%;
    }
    .artwork {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calc(12vw + 48px);
      gap: calc(4.8vw + 12px);
      &--1 {
        a {
          filter: saturate(0);
          order: 1;
          position: relative;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        span:hover a {
          filter: saturate(1);
        }
      }
      &--2 {
        span {
          order: 1;
        }
        a {
          filter: saturate(0);
          position: relative;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        span:hover a {
          filter: saturate(1);
        }
      }
      &--3 {
        a {
          filter: saturate(0);
          order: 1;
          position: relative;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        span:hover a {
          filter: saturate(1);
        }
      }
      &__content {
        color: $text-grey;
        flex: 100%;
      }
    }
  }
}
