.projects {
  margin-top: calc(12vw + 48px);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--heading {
      flex: 50%;
      color: $text-grey;
      text-transform: capitalize;
      font-size: calc(4.8vw + 12px);
      text-align: left;
      font-family: "Giselle", sans-serif;
      font-weight: 100;
      letter-spacing: 1px;
    }
    &--design {
      height: 100%;
      min-height: 8vw;
      flex: 60%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: var(--sec-accent);
      border-radius: 10000px;
      overflow: hidden;
      position: relative;
    }
  }
  &__content {
    margin-top: calc(8vw + 48px);

    .project {
      background-image: url("../img/9c8f7e7748.jfif");
      height: 100%;
      width: 100%;
      min-height: 15vw;
      border-radius: 10000px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 165%;
      transition: all 300ms ease-in-out;
      &--1 {
        background-position: top right;
      }
      &--2 {
        background-position: top left;
      }
      &--3 {
        background-position: bottom right;
      }
      position: relative;
      margin-bottom: 8vw;
      @include phone {
        margin-bottom: 10vw;
      }
      &:hover {
        box-shadow: 0 4px 8px rgba($text-grey, $alpha: 0.2);
        scale: 1.01;
      }

      &__tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 7%;
        &--list {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: calc(16px);
          margin-bottom: calc(24px);
          &item {
            font-size: calc(0.2vw + 12px);
            color: $text-grey;
            list-style: none;
            padding: calc(0.1vw + 4px) calc(0.2vw + 12px);
            border-radius: 10000px;
            outline: 2px solid $text-grey;
            @include tablet {
              font-size: calc(0.1vw + 12px);
              padding: calc(0.1vw + 3px) calc(0.2vw + 8px);
              outline: 1px solid $text-grey;
            }
          }
        }
      }
      &__header {
        position: absolute;
        top: 50%;
        margin-right: 0;
        z-index: 2;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 0.8vw;
        padding-left: 7%;
        text-align: center;
        height: 100%;
        width: 100%;
        transform: translate(0%, -50%);
        color: $text-grey;
        font-size: calc(4.8vw + 12px);
        letter-spacing: 1px;
        font-weight: 100;
        font-family: "Giselle", serif;
        text-transform: capitalize;
      }
      &__copyright {
        font-size: calc(0.6vw + 12px);
        color: $text-background-grey;
        margin-bottom: 24px;
      }
    }
  }
}
