#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--sec-accent);
  color: $text-grey;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease;
  display: grid;
  place-items: center;
  // box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
  @include mini {
    display: none;
  }
}

body:hover > #trailer {
  opacity: 1;
  @include mini {
    opacity: 0;
  }
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  opacity: 0;
  transition: opacity 200ms ease;
}

