@font-face {
    font-family: 'FH Giselle';
    src: url('FHGiselle-Bold.eot');
    src: local('FH Giselle Bold'), local('FHGiselle-Bold'),
        url('FHGiselle-Bold.eot?#iefix') format('embedded-opentype'),
        url('FHGiselle-Bold.woff2') format('woff2'),
        url('FHGiselle-Bold.woff') format('woff'),
        url('FHGiselle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FH Giselle';
    src: url('FHGiselle-Light.eot');
    src: local('FH Giselle Light'), local('FHGiselle-Light'),
        url('FHGiselle-Light.eot?#iefix') format('embedded-opentype'),
        url('FHGiselle-Light.woff2') format('woff2'),
        url('FHGiselle-Light.woff') format('woff'),
        url('FHGiselle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

