:root {
  --sec-accent: #0076d5;
}
$black: #000;
$white: #fff;
$off-white: #efefef;

$section-1: #303030;
$section-2: #202020;
$section-3: #101010;

$text-grey: #efefef;
$text-background-grey: #c3c3c3;
