:root {
  --sec-accent: #0076d5;
}
$black: #000;
$white: #fff;
$off-white: #efefef;

$section-1: #363636;
$section-2: #1f1f1f;
$section-3: #080808;

$text-grey: #efefef;
$text-background-grey: #c3c3c3;
