.footer {
  margin-top: calc(12vw + 48px);
  background-color: var(--sec-accent);
  border-radius: 10000px;
  position: relative;
  &__header {
    position: absolute;
    top: 50%;
    margin-right: 0;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.8vw;
    padding-left: 7%;
    text-align: center;
    height: 100%;
    width: 100%;
    transform: translate(0%, -50%);
    color: $text-grey;
    font-size: calc(4.8vw + 12px);
    font-family: "Giselle", serif;
    letter-spacing: 1px;
    font-weight: 100;
    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(0.1vw + 8px);
      background-color: $text-grey;
      color: var(--sec-accent);
      padding: calc(0.1vw + 8px) calc(0.4vw + 8px);
      border-radius: 10000px;
      font-weight: 1000;
      font-size: calc(1.6vw + 12px);
      box-shadow: 6px 6px 0 0 var(--sec-accent);
      a {
        color: var(--sec-accent);
        text-decoration: none;
      }
      @include mini {
        font-size: calc(0.8vw + 8px);
        box-shadow: 4px 4px 0 0 var(--sec-accent);
      }

      transition: all 200ms ease-in-out;
      i {
        transition: all 200ms ease-in-out;
      }
      &:hover {
        // background-color: transparent;
        // outline: 5px solid $text-grey;
        transform: translate(6px, 6px);
        @include mini {
          transform: translate(4px, 4px);
        }
        box-shadow: 0px 0px 0 0 var(--sec-accent);
        i {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__design {
    height: 100%;
    min-height: 15vw;
    @include phone {
      min-height: 25vw;
    }
    @include phoneS {
      min-height: 30vw;
    }
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10000px;
    overflow: hidden;
  }
}
